* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.create-participant-container {
  display: grid;
  place-items: center;
  margin-top: 100px;
}

/* Skapa ny participant komponent */

.add-item-container {
  display: flex;
  flex-direction: row;
  width: 75%;
}

.list-item-post {
  display: flex;
  justify-content: space-between;
  padding: 8px;
}

.add-item-btn {
  border: solid #333 1px;
  background-color: transparent;
  width: 50%;
  font-size: 1rem;
  font-family: "Courier New", Courier, monospace;
  cursor: pointer;
}

.remove-btn {
  border: none;
  color: white;
  font-size: 1rem;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.185);
  background-color: rgb(255, 109, 109);
  height: 50px;
  width: 50px;
}

.remove-btn:hover {
  background-color: rgb(255, 45, 45);
}

.participant-list-post {
  width: 80%;
  border: solid #333 1px;
  overflow: auto;
  max-height: 170px;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.185);
  line-height: 3;
  font-size: 1.2rem;
}

.participant-list-post li:nth-child(odd) {
  background-color: whitesmoke;
}

/* Participant komponent */
.css-1gcg9uy-MuiPaper-root-MuiCard-root {
  margin-top: 50px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-top: auto;
}

.css-h93ljk-MuiTypography-root {
  text-align: center;
}

.css-1999db7-MuiCardMedia-root {
  min-height: 300px;
}

.participant-list li {
  list-style-type: none;
  font-family: "Courier New", Courier, monospace;
  padding: 10px;
  background-color: white;
  font-size: 1rem;
  text-align: center;
}

.participant-list li:nth-child(odd) {
  background-color: whitesmoke;
}

/* Participant komponent  */

/* Footer */
footer {
  background-color: #1976d2;
  position: absolute;
  bottom: 0;
  min-height: 25px;
  width: 100%;
}

footer p {
  color: white;
  font-size: 1em;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}

footer p a {
  text-decoration: none;
  color: white;
}

/* CSS FÖR HTML5 QR-SCANNER */

.qr-container {
  width: 80%;
  height: 80%;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

#reader {
  border: 1px #1976d2 solid;
  padding: 15px;
}

#html5-qrcode-button-camera-start {
  padding: 20px;
  border: none;
  color: white;
  background-color: #1976d2;
  font-size: 1.2rem;
  margin-bottom: 25px;
}

#html5-qrcode-button-camera-stop {
  padding: 20px;
  border: none;
  color: white;
  background-color: #1976d2;
  font-size: 1.2rem;
}
