* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html body {
  z-index: -1;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 29%,
    rgba(53, 53, 92, 1) 100%,
    rgba(0, 212, 255, 1) 98%
  );
}

/* Sök efter participant komponent */
.search-participant-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.search-result-container {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  max-height: 35vh;
  margin-top: 5%;
  border-radius: 3%;
}

.search-result-container li {
  color: white;
  font-size: 1.2rem;
  font-family: "Chakra Petch", sans-serif;
  text-align: center;
  padding: 10px;
}

.search-result-container li:nth-child(odd) {
  background-color: rgba(245, 245, 245, 0.329);
}

.search-result-container li:nth-child(even) {
  background-color: rgba(245, 245, 245, 0.103);
}

.search-participant-container h2 {
  color: white;
  font-size: 1.4rem;
  font-family: "Chakra Petch", sans-serif;
}

.search-participant-container li {
  font-size: 0.9rem;
  font-family: "Chakra Petch", sans-serif;
  justify-content: center;
}

.search-participant-container ul {
  margin-top: 0;
}

/* Skapa ny participant komponent */
.MuiFormControl-root {
  width: 85%;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
  border: 1px white solid !important;
  color: white !important;
  border-radius: 5px !important;
  font-family: "Chakra Petch", sans-serif !important;
}

#outlined-multiline-flexible {
  color: white;
  font-family: "Chakra Petch", sans-serif;
}

/* Placeholder text för label */
.MuiFormControl-root label {
  color: white;
  font-family: "Chakra Petch", sans-serif;
}

#add-to-list-container {
  display: flex;
  flex-direction: row;
  max-width: 85%;
  text-align: center;
}

/* Knappen för att lägga till prylar på participant i create participant */
#add-to-list-container .add-item-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  font-size: 20px;
  color: white;
  background-color: transparent;
  border-radius: 5px;
  margin-left: 30px;
  padding: 20px;
  margin-top: 12px;
  border: white solid 1px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
}

/* Huvud container för hela create participant */
.container-create-participant {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
}

/* Knappen "Skapa" i createparticipant */
.container-create-participant .MuiButton-outlined {
  border: 2px solid white;
  font-family: "Chakra Petch", sans-serif;
  font-size: 1.2rem;
  letter-spacing: 2px;
  color: white;
  margin-top: 30px;
}

/* Container för tillagda items i create participant */
.add-item-container {
  display: flex;
  flex-direction: row;
  width: 75%;
  overflow: scroll;
}

.list-item-post {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  font-family: "Chakra Petch", sans-serif;
}

/* Knappen för att ta bort items ur listan i create participant */
.remove-btn {
  background: #ff4742;
  border: 1px solid #ff4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  width: 50px;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.remove-btn:hover {
  background-color: rgb(255, 45, 45);
}

.participant-list-post {
  width: 80%;
  border: solid #333 1px;
  overflow: auto;
  max-height: 170px;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.185);
  line-height: 3;
  font-size: 1.2rem;
  color: white;
  margin-top: 5%;
}

.participant-list-post li:nth-child(odd) {
  background-color: rgba(245, 245, 245, 0.329);
}

.participant-list-post li:nth-child(even) {
  background-color: rgba(245, 245, 245, 0.103);
}

/* Participant komponent */
.css-1gcg9uy-MuiPaper-root-MuiCard-root {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}

.css-h93ljk-MuiTypography-root {
  text-align: center;
}

.css-1999db7-MuiCardMedia-root {
  min-height: 300px;
}

.participant-list li {
  list-style-type: none;
  font-family: "Chakra Petch", sans-serif;
  padding: 10px;
  background-color: white;
  font-size: 1rem;
  text-align: center;
}

.participant-list li:nth-child(odd) {
  background-color: #dadada;
}

/* Participant komponent  */

.css-r40f8v-MuiTypography-root {
  text-align: center;
}

/* Footer */
footer {
  background-color: #1976d2;
  position: absolute;
  bottom: 0;
  min-height: 25px;
  width: 100%;
}

footer p {
  color: white;
  font-size: 1em;
  text-align: center;
  font-family: "Chakra Petch", sans-serif;
}

footer p a {
  text-decoration: none;
  color: white;
}

/* CSS FÖR HTML5 QR-SCANNER */

.qr-container {
  width: 80%;
  height: 80%;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

#reader {
  border: 1px #1976d2 solid;
  padding: 15px;
}

#html5-qrcode-button-camera-start {
  padding: 20px;
  border: none;
  color: white;
  background-color: #1976d2;
  font-size: 1.2rem;
  margin-bottom: 25px;
}

#html5-qrcode-button-camera-stop {
  padding: 20px;
  border: none;
  color: white;
  background-color: #1976d2;
  font-size: 1.2rem;
}

/* IKONER & CONTAINER*/

.card-actions-element {
  background-color: rgba(189, 189, 189, 0.493);
}

.icon-container {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  padding: 5px;
}

.phone-icon,
.edit-icon {
  font-size: 2rem !important;
  color: rgb(96, 96, 165);
}

.image-button {
  color: white;
  font-family: "Chakra Petch", sans-serif;
  font-size: 1rem;
  letter-spacing: 2px;
  background-color: transparent;
  text-align: center;
  margin-bottom: 5%;
}
